.btcpw_revenue_post_container h2,
.btcpw_revenue_view_container h2,
.btcpw_revenue_file_container h2 {
  font-size: 40px;
}

.btcpw_pay__preview {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 75%;
}

.btcpw_pay__preview.preview_img {
  width: 100px;
  height: 100px;
}

.btcpw_pay__preview.preview_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.btcpw_pay__preview.preview_img img {
  width: 100%;
  height: 100%;
}

.btcpw_pay__content {
  text-align: center;
}

.btcpw_pay__footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#btcpw_pay__button {
  min-width: 75px;
  min-height: 60px;
  background: #f6b330;
  border: solid 1px transparent;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 0.5rem 0.5rem;
  margin: 0.25rem;
}

#btcpw_pay__button:hover {
  cursor: pointer;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.btcpw_pay__loading p.loading.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.btcpw_pay__loading p.loading.spinner:before {
  content: "";
  display: block;
  width: 44px;
  height: 44px;
  margin: 5px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #ffa500 #1d5aa3 #ffa500 #1d5aa3;
  animation: spinner 1s linear infinite;
}

.btcpw_help_links > .btcpw_help a,
.btcpw_help_links > .btcpw_additional_help a {
  margin-top: 5px;
  text-decoration: underline;
}

.btcpw_pay__loading p.loading.spinner {
  margin-top: 5px;
}

.btcpw_pay__content p {
  font-size: 30px;
  line-height: 1.25;
}

.btcpw_pay__footer div.btcpw_help {
  margin-top: 3em;
}

.btcpw_store {
  display: flex;
}

.btcpw_store_video {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
}

.btcpw_store_video_preview {
  height: auto;
  max-width: 50%;
}

a.btcpw_pay__download {
  text-decoration: none;
  background-color: #0073aa;
  border-radius: 5px;
  padding: 0.7em 1.4em;
  cursor: pointer;
  color: white;
  line-height: 1.8;
  font-weight: bold;
}

/*
    Tipping box
    
    */
.btcpw_tipping_box_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}

#tipping_form_box fieldset .btcpw_tipping_box_header_container h4,
#tipping_form_box_widget fieldset .btcpw_tipping_box_header_container h4 {
  margin-bottom: 0.3rem;
  font-size: clamp(12px, 16px, 20px);
}

.btcpw_tipping_box_header_container > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px !important;
}

.btcpw_tipping_box_container p,
.btcpw_widget.btcpw_tipping_box_container p {
  font-size: clamp(5px, 7px, 9px);
  line-height: 1.5;
  text-align: center;
  margin-top: 0;
}

.btcpw_tipping_box_container div,
.btcpw_tipping_box_container img,
.btcpw_tipping_box_container pre,
.btcpw_tipping_box_container figure {
  max-width: 100%;
  overflow: hidden;
}

.btcpw_tipping_box_container.btcpw_tipping_free_input,
.btcpw_tipping_box_container.btcpw_tipping_converted_values {
  display: flex;
  justify-content: center;
}

.btcpw_tipping_box_container fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.btcpw_tipping_box_header_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
}

.btcpw_tipping_box_header_container h4 {
  margin-left: 5px;
}

#btcpw_tipping_amount,
#btcpw_converted_amount,
#btcpw_tipping_amount_btcpw_widget,
#btcpw_converted_amount_btcpw_widget {
  height: 80%;
  width: 50%;
  font-size: 15px;
}

#btcpw_tipping_currency,
#btcpw_converted_currency,
#btcpw_tipping_currency_btcpw_widget,
#btcpw_converted_currency_btcpw_widget {
  height: 80%;
  width: 50%;
  font-size: 15px;
  color: white !important;
}

#tipping_form_box fieldset > h5,
#tipping_form_box_widget fieldset > h5 {
  text-align: center;
  margin: 10px 0;
  font-size: clamp(9px, 13px, 17px);
}

.btcpw_tipping_box_container fieldset > h5 {
  margin-left: 1px;
}

.btcpw_tipping_box_info_container > p {
  margin: 0.5em 0;
  font-size: 14px;
}

.btcpw_tipping_box_amount {
  margin-top: 1em;
}

.btcpw_tipping_box_container select {
  line-height: 1;
}

#btcpw_converted_amount,
#btcpw_converted_amount_btcpw_widget {
  text-align: right;
}

#btcpw_converted_currency,
#btcpw_converted_currency_btcpw_widget {
  text-align: left;
}

.predefined_container input[type="radio"] {
  position: absolute;
  width: 10%;
  height: 5%;
  opacity: 0;
}

.btcpw_tipping_box_amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btcpw_tipping_free_input,
.btcpw_tipping_converted_values {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btcpw_tipping_free_input {
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  height: 50px;
  width: 65%;
}

#btcpw_tipping_amount,
#btcpw_tipping_amount_btcpw_widget {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  background-color: white !important;
}

.btcpw_tipping_converted_values {
  margin-bottom: 2em;
}

.btcpw_tipping_box_container fieldset input:not([type="submit"]) {
  margin-bottom: 0;
}

#btcpw_box_logo_wrap,
#btcpw_box_widget_logo_wrap {
  width: 70px !important;
  height: 70px !important;
}

#btcpw_box_logo_wrap img,
#btcpw_box_widget_logo_wrap img {
  height: 100% !important;
  width: 100% !important;
}

.btcpw_tipping_box_container {
  position: relative;
}

.btcpw_tipping_box_header_container {
  height: 80px !important;
}

#button {
  position: absolute;
  display: inline-flex;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 50px;
}

#btcpw_tipping_amount,
#btcpw_tipping_amount_btcpw_widget {
  background-color: white;
  padding: 0;
}

#btcpw_tipping_currency,
#btcpw_tipping_currency_btcpw_widget,
#btcpw_converted_amount,
#btcpw_converted_currency,
#btcpw_converted_amount_btcpw_widget,
#btcpw_converted_currency_btcpw_widget {
  border: none;
  background: transparent;
}

#btcpw_tipping_currency,
#btcpw_tipping_currency_btcpw_widget {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 0;
}

#btcpw_tipping_currency::-ms-expand,
#btcpw_tipping_currency_btcpw_widget::-ms-expand {
  display: none;
}

#btcpw_tipping_currency + i.fas,
#btcpw_tipping_currency_btcpw_widget + i.fas {
  font-size: 1em;
  float: right;
  pointer-events: none;
  background-color: transparent;
  color: white !important;
  padding-right: 10px;
}

#btcpw_tipping_currency option,
#btcpw_tipping_currency_btcpw_widget option {
  padding-right: 21px;
}

#button > button[type="submit"] {
  min-width: 50%;
  margin: 5px auto;
}

#btcpw_tipping__button,
#btcpw_tipping__button_btcpw_widget {
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}

#button button,
#button input[type="button"] {
  font-size: 14px;
  padding: 8px !important;
  text-transform: uppercase;
}

/*
    Tipping skyscraper
    */

.btcpw_skyscraper_tipping_container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.btcpw_skyscraper_header_container.wide,
.btcpw_widget.btcpw_skyscraper_header_container.wide {
  flex-direction: row;
  height: 80px;
  gap: 10px;
}

#btcpw_skyscraper_logo_wrap_high {
  padding: 0.1em 0.1em 0 0.1em;
}

.btcpw_widget.btcpw_skyscraper_tipping_container.wide {
  width: 600px !important;
  height: 200px !important;
}

.btcpw_skyscraper_tipping_container fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
  min-width: 0;
  padding: 0;
}

.btcpw_skyscraper_header_container.high h3 {
  text-align: center;
  font-size: clamp(14px, 18px, 22px);
}

.btcpw_skyscraper_header_container.wide h3 {
  margin: 0;
  font-size: clamp(14px, 18px, 22px);
}

.btcpw_skyscraper_amount {
  display: flex;
}

#btcpw_skyscraper_high_converted_amount,
#btcpw_skyscraper_wide_converted_amount,
#btcpw_widget_btcpw_skyscraper_converted_amount_wide,
#btcpw_widget_btcpw_skyscraper_converted_amount_high {
  text-align: right;
  font-size: 15px;
}

#btcpw_skyscraper_high_converted_currency,
#btcpw_skyscraper_wide_converted_currency,
#btcpw_widget_btcpw_skyscraper_converted_currency_wide,
#btcpw_widget_btcpw_skyscraper_converted_currency_high {
  text-align: left;
  font-size: 15px;
}

#btcpw_skyscraper_tipping_high_amount,
#btcpw_skyscraper_tipping_wide_amount,
#btcpw_widget_btcpw_skyscraper_tipping_amount_wide,
#btcpw_widget_btcpw_skyscraper_tipping_amount_high {
  height: 30px;
  width: 50%;
  margin: 0;
}

#btcpw_skyscraper_tipping_high_currency,
#btcpw_skyscraper_tipping_wide_currency,
#btcpw_widget_btcpw_skyscraper_tipping_currency_wide,
#btcpw_widget_btcpw_skyscraper_tipping_currency_high {
  height: 30px;
  width: 50%;
  font-size: 15px;
}

#btcpw_skyscraper_tipping_high_currency,
#btcpw_skyscraper_tipping_wide_currency,
#btcpw_widget_btcpw_skyscraper_tipping_currency_wide,
#btcpw_widget_btcpw_skyscraper_tipping_currency_high {
  font-weight: bold;
}

#btcpw_skyscraper_tipping_high_amount,
#btcpw_skyscraper_tipping_high_currency,
#btcpw_skyscraper_tipping_wide_amount,
#btcpw_skyscraper_tipping_wide_currency,
#btcpw_widget_btcpw_skyscraper_tipping_currency_wide,
#btcpw_widget_btcpw_skyscraper_tipping_currency_high,
#btcpw_widget_btcpw_skyscraper_tipping_amount_wide,
#btcpw_widget_btcpw_skyscraper_tipping_amount_high {
  height: 80%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 !important;
}

#btcpw_skyscraper_high_button,
#btcpw_skyscraper_wide_button,
#btcpw_widget_btcpw_skyscraper_button_high,
#btcpw_widget_btcpw_skyscraper_button_wide {
  position: absolute;
  display: inline-flex;
  bottom: 0;
  width: 100%;
  left: 0;
  justify-content: center;
}

#btcpw_skyscraper_logo_wrap_high {
  width: 180px !important;
  height: 180px !important;
}

#btcpw_skyscraper_logo_wrap_wide {
  width: 70px !important;
  height: 70px !important;
}

#btcpw_skyscraper_logo_wrap_high img,
#btcpw_skyscraper_logo_wrap_wide img {
  width: 100%;
  height: 100%;
}

#btcpw_skyscraper_high_button button,
#btcpw_skyscraper_high_button input[type="button"],
#btcpw_skyscraper_wide_button button,
#btcpw_skyscraper_wide_button input[type="button"],
#btcpw_widget_btcpw_skyscraper_button_high button,
#btcpw_widget_btcpw_skyscraper_button_high input[type="button"],
#btcpw_widget_btcpw_skyscraper_button_wide button,
#btcpw_widget_btcpw_skyscraper_button_wide input[type="button"] {
  padding: 0;
  line-height: 20px;
  height: 40px;
}

#btcpw_skyscraper_high_button > div,
#btcpw_skyscraper_wide_button > div,
#btcpw_widget_btcpw_skyscraper_button_high > div,
#btcpw_widget_btcpw_skyscraper_button_wide > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 5px 0 !important;
}

#btcpw_skyscraper_high_button > button[type="submit"],
#btcpw_skyscraper_high_button > input.skyscraper-next-form,
#btcpw_skyscraper_wide_button > button[type="submit"],
#btcpw_skyscraper_wide_button > input.skyscraper-next-form,
#btcpw_widget_btcpw_skyscraper_button_high > button[type="submit"],
#btcpw_widget_btcpw_skyscraper_button_high
  > input.btcpw_widget.skyscraper-next-form.high,
#btcpw_widget_btcpw_skyscraper_button_wide > button[type="submit"],
#btcpw_widget_btcpw_skyscraper_button_wide
  > input.btcpw_widget.skyscraper-next-form.wide {
  width: 50%;
  margin: 0 auto;
  color: white;
  padding: 0;
}

#btcpw_skyscraper_high_button button,
#btcpw_skyscraper_high_button input[type="button"],
#btcpw_widget_btcpw_skyscraper_button_high button,
#btcpw_widget_btcpw_skyscraper_button_high input[type="button"] {
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  font-size: 12px;
  text-transform: uppercase;
  width: 100%;
}

#btcpw_skyscraper_wide_button button,
#btcpw_skyscraper_wide_button input[type="button"],
#btcpw_widget_btcpw_skyscraper_button_wide button,
#btcpw_widget_btcpw_skyscraper_button_wide input[type="button"] {
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  font-size: 1.5em;
  padding: 8px !important;
  text-transform: uppercase;
}

#btcpw_skyscraper_high_converted_amount,
#btcpw_skyscraper_tipping_high_currency,
#btcpw_skyscraper_high_converted_currency,
#btcpw_skyscraper_wide_converted_amount,
#btcpw_skyscraper_tipping_wide_currency,
#btcpw_skyscraper_wide_converted_currency,
#btcpw_widget_btcpw_skyscraper_converted_amount_high,
#btcpw_widget_btcpw_skyscraper_tipping_currency_high,
#btcpw_widget_btcpw_skyscraper_converted_currency_high,
#btcpw_widget_btcpw_skyscraper_converted_amount_wide,
#btcpw_widget_btcpw_skyscraper_tipping_currency_wide,
#btcpw_widget_btcpw_skyscraper_converted_currency_wide {
  border: none;
  background: transparent;
}

.btcpw_skyscraper_header_container.high h4 {
  margin-top: 20px;
}

.btcpw_skyscraper_tipping_amount,
.btcpw_skyscraper_tipping_converted_values,
.btcpw_skyscraper_info_container p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#skyscraper_tipping_high_form > fieldset h4,
#skyscraper_tipping_wide_form > fieldset h4,
#btcpw_widget_skyscraper_tipping_form_high > fieldset h4,
#btcpw_widget_skyscraper_tipping_form_wide > fieldset h4 {
  text-align: center;
  margin: 10px;
  font-size: clamp(10px, 14px, 18px);
}

#skyscraper_tipping_high_form fieldset:not(:first-of-type),
#skyscraper_tipping_wide_form fieldset:not(:first-of-type),
#btcpw_widget_skyscraper_tipping_form_high fieldset:not(:first-of-type),
#btcpw_widget_skyscraper_tipping_form_wide fieldset:not(:first-of-type) {
  display: none;
}

.btcpw_skyscraper_donor_information {
  display: flex;
  flex-wrap: wrap;
}

.btcpw_skyscraper_donor_information.wide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  margin-top: 2px;
}

.btcpw_skyscraper_donor_information.wide > div {
  display: flex;
  flex-direction: column;
}

.btcpw_skyscraper_donor_information.wide label {
  font-size: 14px;
  margin-bottom: 0;
}

.btcpw_skyscraper_donor_information.high {
  display: flex;
  margin: 1em 0;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.btcpw_skyscraper_donor_information.high > div {
  width: 80%;
}

.btcpw_skyscraper_donor_information input[type="text"],
.btcpw_skyscraper_donor_information input[type="email"],
.btcpw_skyscraper_donor_information input[type="url"],
.btcpw_skyscraper_donor_information input[type="password"],
.btcpw_skyscraper_donor_information input[type="number"],
.btcpw_skyscraper_donor_information input[type="tel"],
.btcpw_skyscraper_donor_information textarea {
  padding: 0 !important;
  margin: 0 !important;
  height: 30px;
  border-radius: 8px;
}

.btcpw_skyscraper_donor_information.high label {
  font-size: 14px;
}

.btcpw_skyscraper_donor_information.wide input[type="text"],
.btcpw_skyscraper_donor_information.wide input[type="email"],
.btcpw_skyscraper_donor_information.wide input[type="url"],
.btcpw_skyscraper_donor_information.wide input[type="password"],
.btcpw_skyscraper_donor_information.wide input[type="number"],
.btcpw_skyscraper_donor_information.wide input[type="tel"],
.btcpw_skyscraper_donor_information.wide textarea {
  padding: 0 !important;
  margin: 0 !important;
  min-height: 21px;
  height: 21px;
  border-radius: 8px;
}

.btcpw_skyscraper_amount > .btcpw_skyscraper_tipping_free_input {
  display: flex;
  flex-direction: row;
  align-items: center !important;
}

.btcpw_skyscraper_header_container {
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.btcpw_skyscraper_header_container.high,
.btcpw_widget.btcpw_skyscraper_header_container.high {
  padding: 0.5em;
  height: 260px !important;
  flex-direction: column;
}

.btcpw_skyscraper_info_container {
  text-align: center;
}

.btcpw_skyscraper_banner div,
.btcpw_skyscraper_banner img,
.btcpw_skyscraper_banner pre,
.btcpw_skyscraper_banner figure,
.btcpw_skyscraper_tipping_container div,
.btcpw_skyscraper_tipping_container img,
.btcpw_skyscraper_tipping_container pre,
.btcpw_skyscraper_tipping_container figure {
  max-width: 100%;
  overflow: hidden;
}

.btcpw_skyscraper_tipping_converted_values {
  flex-direction: row;
}

.btcpw_skyscraper_info_container > p {
  font-size: 0.8em;
}

.btcpw_skyscraper_banner.high {
  width: 200px !important;
}

.btcpw_skyscraper_amount > div {
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 120px;
  height: 40px;
  justify-content: space-evenly;
  font-weight: bold;
  color: white;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}

.btcpw_skyscraper_amount {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-flow: row wrap;
  justify-content: space-between;
}

.btcpw_skyscraper_amount_value_1.high i,
.btcpw_skyscraper_amount_value_2.high i,
.btcpw_skyscraper_amount_value_3.high i {
  font-size: 1em;
  margin-right: 10px;
}

.btcpw_skyscraper_tipping_container.high fieldset {
  padding: 0;
}

.btcpw_skyscraper_tipping_container fieldset {
  margin: 0;
}

#btcpw_skyscraper_tipping_high_amount,
#btcpw_skyscraper_tipping_wide_amount,
#btcpw_widget_btcpw_skyscraper_tipping_amount_wide,
#btcpw_widget_btcpw_skyscraper_tipping_amount_high {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  background-color: white !important;
}

#btcpw_skyscraper_tipping_high_currency,
#btcpw_skyscraper_tipping_wide_currency,
#btcpw_widget_btcpw_skyscraper_tipping_currency_wide,
#btcpw_widget_btcpw_skyscraper_tipping_currency_high {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

#btcpw_skyscraper_tipping_high_currency::-ms-expand,
#btcpw_skyscraper_tipping_wide_currency::-ms-expand,
#btcpw_widget_btcpw_skyscraper_tipping_currency_wide::-ms-expand,
#btcpw_widget_btcpw_skyscraper_tipping_currency_high::-ms-expand {
  display: none;
}

#btcpw_skyscraper_tipping_high_currency + i.fas,
#btcpw_skyscraper_tipping_wide_currency + i.fas,
#btcpw_widget_btcpw_skyscraper_tipping_currency_wide + i.fas,
#btcpw_widget_btcpw_skyscraper_tipping_currency_high + i.fas {
  font-size: 1em;
  float: right;
  pointer-events: none;
  background-color: transparent;
  padding-right: 10px;
}

#btcpw_skyscraper_tipping_high_currency option,
#btcpw_skyscraper_tipping_wide_currency option,
#btcpw_widget_btcpw_skyscraper_tipping_currency_wide option,
#btcpw_widget_btcpw_skyscraper_tipping_currency_high option {
  padding-right: 21px;
}

.btcpw_skyscraper_tipping_container.wide fieldset {
  padding: 0 1em;
}

.btcpw_skyscraper_amount_value_1 input[type="radio"],
.btcpw_skyscraper_amount_value_2 input[type="radio"],
.btcpw_skyscraper_amount_value_3 input[type="radio"] {
  display: none;
}

.btcpw_skyscraper_amount.high {
  flex-direction: column;
}

.btcpw_skyscraper_amount.wide {
  flex-direction: row;
  justify-content: space-around;
}

.btcpw_skyscraper_amount.high > div {
  margin: 5px auto;
  width: 80%;
}

.btcpw_skyscraper_tipping_converted_values.high {
  display: flex;
  margin-bottom: 2em;
}

.btcpw_skyscraper_tipping_free_input {
  display: flex;
  flex-direction: row;
}

.btcpw_skyscraper_tipping_free_input.high {
  justify-content: center;
}

.btcpw_widget.btcpw_skyscraper_tipping_container.wide,
.btcpw_skyscraper_tipping_container.wide {
  width: 600px !important;
  height: 200px !important;
}

.btcpw_widget.btcpw_skyscraper_tipping_container.high,
.btcpw_skyscraper_tipping_container.high {
  width: 200px !important;
  height: 450px !important;
}

.btcpw_skyscraper_banner.wide,
.btcpw_widget.btcpw_skyscraper_banner.wide {
  width: 600px !important;
}

@media screen and (max-width: 770px) {
  .btcpw_skyscraper_banner.wide,
  .btcpw_widget.btcpw_skyscraper_banner.wide {
    width: 300px !important;
    height: 400px !important;
  }

  .btcpw_widget.btcpw_skyscraper_tipping_container.wide,
  .btcpw_skyscraper_tipping_container.wide {
    width: 300px !important;
    height: 300px !important;
  }

  .btcpw_skyscraper_tipping_container.wide fieldset,
  .btcpw_widget.btcpw_skyscraper_tipping_container.wide fieldset {
    padding: 1em 1em;
  }
}

.btcpw_skyscraper_header_container p,
.btcpw_widget.btcpw_skyscraper_header_container p {
  word-break: break-all;
  font-size: clamp(8px, 10px, 12px);
  text-align: center;
  line-height: 1.5;
  margin-top: 0;
}

.btcpw_skyscraper_header_container > div:nth-child(2),
.btcpw_widget.btcpw_skyscraper_header_container > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.btcpw_skyscraper_header_container.wide > div:nth-child(2),
.btcpw_widget.btcpw_skyscraper_header_container.wide > div:nth-child(2) {
  max-width: 500px;
}

/**
    Tipping page
    
    */
#btcpw_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btcpw_page_tipping_container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 1em;
  position: relative;
}

@media screen and (max-width: 770px) {
  div.btcpw_page_tipping_container {
    width: 330px !important;
    height: 600px !important;
  }

  #btcpw_page_logo_wrap {
    width: 100px;
    height: 90px;
  }

  div.btcpw_page_header_container {
    height: 150px !important;
  }

  div.btcpw_page_amount > div {
    width: 110px;
    height: 60px;
  }
}

.btcpw_page_tipping_container fieldset {
  border: 0;
  min-width: 0;
}

.btcpw_page_amount {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-flow: row wrap;
  justify-content: space-around;
}

#btcpw_page_converted_amount {
  text-align: right;
  font-size: 15px;
}

#btcpw_page_tipping_currency {
  width: 45%;
  font-size: 15px;
}

#btcpw_page_converted_currency {
  text-align: left;
  font-size: 15px;
}

#btcpw_page_tipping_amount {
  width: 55%;
  background-color: white;
}

#btcpw_page_tipping_amount,
#btcpw_page_tipping_currency {
  height: 80%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 1px;
}

#btcpw_page_button {
  position: absolute;
  display: inline-flex;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 75px;
}

#btcpw_page_button > input.page-next-form {
  width: 50%;
}

#btcpw_page_button > div {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 10px 0 !important;
}

/* 
#btcpw_page_button > div:nth-child(1) > input {
  color: white;
} */

#btcpw_page_button > button[type="submit"],
#btcpw_page_button > input.page-next-form {
  width: 50%;
  margin: 10px auto !important;
  color: white;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}

#btcpw_page_tipping__button {
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}

#btcpw_page_button button,
#btcpw_page_button input[type="button"],
#btcpw_page_button input[type="submit"] {
  padding: 10.5px 14px;
  font-size: 1.5em;
  text-transform: uppercase;
}

#btcpw_page_tipping_currency {
  font-weight: bold;
  width: 45%;
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

#btcpw_page_tipping_currency::-ms-expand {
  display: none;
}

#btcpw_page_tipping_currency + i.fas {
  font-size: 1em;
  float: right;
  pointer-events: none;
  background-color: transparent;
  padding-right: 10px;
}

#btcpw_page_tipping_currency option {
  padding-right: 21px;
}

#btcpw_page_converted_amount,
#btcpw_page_tipping_currency,
#btcpw_page_converted_currency {
  border: none;
  background: transparent;
}

.btcpw_page_tipping_amount,
.btcpw_page_tipping_converted_values,
.btcpw_page_header_container h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.btcpw_page_header_container h3 {
  font-size: clamp(16px, 20px, 25px);
}

.btcpw_page_header_container p {
  font-size: clamp(10px, 14px, 18px);
}

#page_tipping_form fieldset:not(:first-of-type) {
  display: none;
}

#btcpw_page_logo_wrap {
  width: 180px;
  height: 180px;
}

#btcpw_page_logo_wrap img {
  width: 100% !important;
  height: 100% !important;
}

.btcpw_page_donor_information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3px;
  margin: 10px 0;
}

.btcpw_page_donor_information > div {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.btcpw_page_donor_information label {
  font-size: 15px;
}

.btcpw_page_donor_information fieldset {
  padding: 0 15px;
}

.btcpw_page_donor_information input[type="text"],
.btcpw_page_donor_information input[type="email"],
.btcpw_page_donor_information input[type="url"],
.btcpw_page_donor_information input[type="number"],
.btcpw_page_donor_information input[type="tel"],
.btcpw_page_donor_information textarea {
  margin: 0;
  line-height: 16px;
  border-radius: 8px;
  padding: 15px 0;
}

.btcpw_page_header_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  height: 210px !important;
}

#page_tipping_form fieldset h4 {
  text-align: center;
  margin: 10px 0;
  font-size: clamp(12px, 16px, 20px);
}

.btcpw_page_tipping_converted_values {
  flex-direction: row;
}

.btcpw_page_amount > div {
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 150px;
  height: 70px;
  justify-content: center;
  font-weight: bold;
  color: white;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}

.btcpw_page_amount_value_1 input[type="radio"],
.btcpw_page_amount_value_2 input[type="radio"],
.btcpw_page_amount_value_3 input[type="radio"] {
  display: none;
}

.btcpw_page_amount_value_1 i,
.btcpw_page_amount_value_2 i,
.btcpw_page_amount_value_3 i {
  margin-right: 1em;
}

.btcpw_page_tipping_converted_values {
  display: flex;
  margin-bottom: 2em;
}

.btcpw_page_tipping_free_input {
  display: flex;
  flex-direction: row;
  align-items: center !important;
}

#btcpw_page_tipping_amount {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.btcpw_page_bar_container {
  display: flex;
}

.btcpw_page_bar_container div {
  display: flex;
  background-color: lightgray;
  width: 50%;
  height: 2em;
  justify-content: center;
  align-items: center;
  color: #a4b0c6;
}

.btcpw_page_bar_container.active {
  background-color: grey;
}

#powered_by,
#powered_by_skyscraper,
#powered_by_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#powered_by p,
#powered_by_skyscraper p,
#powered_by_box p {
  margin-top: 0.5em;
  font-size: 14px;
}

#btcpw_page_logo_wrap {
  padding: 0.1em 0 0.1em 0.1em;
}

div.btcpw_page_header_container > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  width: 250px;
  align-items: center;
}

/*Gutenberg Editor*/
.components-button.btcpaywall.editor-post-featured-image__preview,
.components-button.btcpaywall.editor-post-featured-image__toggle,
.components-button.btcpaywall.editor-post-featured-image__remove {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px 2px;
  min-height: 40px;
  background-color: #fff;
  border-radius: 10px;
}

.btcpaywall_gutenberg_wrap {
  margin: 20px 10px;
}

/**
    Tipping button spinner
    
    */

.tipping-border {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #ffa500 #1d5aa3 #ffa500 #1d5aa3;
  animation: spinner 1s linear infinite;
}

#btcpw_page h6 {
  font-family: sans-serif;
}

/*
Revenue types
*/
.btcpw_revenue_post_container,
.btcpw_revenue_view_container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ecf0f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#post_revenue_type fieldset:not(:first-of-type),
#view_revenue_type fieldset:not(:first-of-type) {
  display: none;
}

#post_revenue_type fieldset:nth-child(2) h2,
#view_revenue_type fieldset:nth-child(2) h2 {
  text-align: center;
  margin-bottom: 10px;
}

.btcpw_revenue_post_container form,
.btcpw_revenue_view_container form {
  height: 100%;
  width: 100%;
}

.btcpw_revenue_post_container fieldset,
.btcpw_revenue_view_container fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 0;
  min-width: 0;
  padding: 25px 0;
  height: 95%;
}

.btcpw_revenue_view_container fieldset {
  justify-content: space-evenly;
}

.btcpw_revenue_post_container,
.btcpw_revenue_view_container {
  position: relative;
}

.btcpw_revenue_post_customer_information,
.btcpw_revenue_view_customer_information {
  display: flex;
  margin: 1em 0;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.btcpw_revenue_post_customer_information > div,
.btcpw_revenue_view_customer_information > div {
  width: 80%;
}

.btcpw_revenue_post_customer_information label,
.btcpw_revenue_view_customer_information label {
  font-size: 16px;
  margin-bottom: 1.5px;
}

.btcpw_revenue_post_customer_information div,
.btcpw_revenue_view_customer_information div {
  display: flex;
  flex-direction: column;
}

#btcpw_revenue_post_button_second_step,
#btcpw_revenue_view_button_second_step {
  height: 65px;
  position: absolute;
  display: inline-flex;
  bottom: 0;
  width: 100%;
}

#btcpw_revenue_post_button,
#btcpw_revenue_view_button,
#btcpw_revenue_file_button {
  display: inline-flex;
  bottom: 0;
  width: 100%;
}

#btcpw_revenue_post_button > input.revenue-post-next-form,
#btcpw_revenue_view_button > input.revenue-view-next-form,
#btcpw_revenue_file_button > input.revenue-file-next-form {
  width: 50%;
}

#btcpw_revenue_post_button,
#btcpw_revenue_view_button {
  height: 65px;
}

#btcpw_revenue_post_button_second_step > div,
#btcpw_revenue_view_button_second_step > div,
#btcpw_revenue_post_button > div,
#btcpw_revenue_view_button > div,
#btcpw_revenue_file_button > div {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto !important;
}

#btcpw_revenue_post_button_second_step > button[type="submit"],
#btcpw_revenue_post_button_second_step > input.revenue-post-next-form,
#btcpw_revenue_post_button > button[type="submit"],
#btcpw_revenue_post_button > input.revenue-post-next-form,
#btcpw_revenue_view_button > button[type="submit"],
#btcpw_revenue_view_button > input.revenue-view-next-form,
#btcpw_revenue_view_button_second_step > button[type="submit"],
#btcpw_revenue_view_button_second_step > input.revenue-view-next-form {
  margin: 0 auto !important;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}

#btcpw_revenue_post_button_second_step button,
#btcpw_revenue_post_button_second_step input[type="button"],
#btcpw_revenue_post_button_second_step input[type="submit"],
#btcpw_revenue_post_button button,
#btcpw_revenue_post_button input[type="button"],
#btcpw_revenue_post_button input[type="submit"],
#btcpw_revenue_view_button button,
#btcpw_revenue_view_button input[type="button"],
#btcpw_revenue_view_button input[type="submit"],
#btcpw_revenue_file_button button,
#btcpw_revenue_file_button input[type="button"],
#btcpw_revenue_file_button input[type="submit"] {
  padding: 10px;
  text-transform: uppercase;
}

#btcpw_revenue_post_button input.revenue-post-next-form,
#btcpw_revenue_view_button input.revenue-view-next-form {
  width: 140px;
  height: 60px;
}

/**
Pay-per-file
*/
#btcpw_digital_download_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#btcpw_digital_download_form {
  position: relative;
}

.btcpw_digital_download_customer_information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 5px;
}

#btcpw_digital_download_customer_info fieldset {
  padding: 20px 30px;
  border: 2px solid #fff;
}

.btcpw_digital_download_customer_information div {
  display: flex;
  flex-direction: column;
}

.btcpw_digital_download {
  position: absolute;
  bottom: 0;
  left: 0;
}

.btcpw_digital_download_button {
  margin: 4em;
}

.btcpw_digital_download_customer_information input[type="text"],
.btcpw_digital_download_customer_information input[type="email"],
.btcpw_digital_download_customer_information input[type="number"],
.btcpw_digital_download_customer_information input[type="tel"],
.btcpw_digital_download_customer_information textarea {
  width: 100%;
  border-radius: 15px;
  padding: 5px;
  margin: 5px 0;
}

.btcpw_digital_download_customer_information textarea {
  max-height: 60px;
}

#btcpw_revenue_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

a.btcpaywall_checkout,
button.btcpaywall_add_to_cart {
  font-family: Sans-serif;
  overflow: hidden;
  width: auto;
  position: relative;
  border: 3px solid;
  border-color: transparent;
  display: inline-block;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  padding: 20px;
  border-radius: 2px;
  cursor: pointer;
  text-transform: capitalize;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0 10px 48px -6px rgba(0, 0, 0, 0.2);
}

button.btcpaywall_add_to_cart:active {
  -moz-transform: scale3d(0.9, 0.9, 0.9);
  -ms-transform: scale3d(0.9, 0.9, 0.9);
  -webkit-transform: scale3d(0.9, 0.9, 0.9);
  transform: scale3d(0.9, 0.9, 0.9);
}

button.btcpaywall_add_to_cart:hover {
  background-color: transparent;
  opacity: 0.6;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.btcpw_tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.btcpw_tabset .btcpw_tab-panel {
  display: none;
}

.btcpw_tabset
  > input:first-child:checked
  ~ .btcpw_tab-panels
  > .btcpw_tab-panel:first-child,
.btcpw_tabset
  > input:nth-child(3):checked
  ~ .btcpw_tab-panels
  > .btcpw_tab-panel:nth-child(2) {
  display: block;
}

.btcpw_tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.btcpw_tabset > label:hover,
.btcpw_tabset > input:focus + label {
  color: #06c;
}

.btcpw_tabset > label:hover::after,
.btcpw_tabset > input:focus + label::after,
.btcpw_tabset > input:checked + label::after {
  background: #06c;
}

.btcpw_tabset > input:checked + label {
  border-color: #ccc;
  margin-bottom: -1px;
}

.btcpw_tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

.btcpw_product_description,
.btcpw_product_price {
  margin-bottom: 20px;
}

.btcpw_page_tipping_container,
.btcpw_skyscraper_banner,
.btcpw_tipping_box_container,
.btcpw_revenue_post_container,
.btcpw_revenue_view_container,
#btcpw_digital_download_customer_info {
  overflow: hidden;
  border: 0.5px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
}

.btcpw_revenue_post_container,
.btcpw_revenue_view_container {
  box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px #888;
  -moz-box-shadow: 0 0 5px 5px #888;
}

.btcpw_revenue_post_customer_information input[type="text"],
.btcpw_revenue_post_customer_information input[type="email"],
.btcpw_revenue_post_customer_information input[type="url"],
.btcpw_revenue_post_customer_information input[type="number"],
.btcpw_revenue_post_customer_information input[type="tel"],
.btcpw_revenue_post_customer_information textarea,
.btcpw_revenue_view_customer_information input[type="text"],
.btcpw_revenue_view_customer_information input[type="email"],
.btcpw_revenue_view_customer_information input[type="url"],
.btcpw_revenue_view_customer_information input[type="number"],
.btcpw_revenue_view_customer_information input[type="tel"],
.btcpw_revenue_view_customer_information textarea {
  border-radius: 8px;
}

#btcpw_digital_download_customer_info h2 {
  text-align: center;
}

.btcpw_digital_download_customer_information input {
  width: 100%;
}

.btcpaywall-table th {
  text-align: center;
}

/*Common icons*/
.btcpw_skyscraper_amount svg,
.btcpw_page_amount svg,
.btcpw_tipping_free_input svg {
  font-size: 1em;
  margin: 0;
}

.btcpaywall_helper_tip::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f059";
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-indent: 0;
  text-align: center;
}

/*Pay-per-view*/

.btcpw_pay__preview.preview_img,
.btcpw_pay__preview.preview_description {
  max-width: 50%;
}

/*LNBits modal */
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.ui-dialog-buttonset {
  display: flex;
  justify-content: space-between;
}
.ui-button.ui-corner-all.ui-widget {
  background-color: transparent;
  color: #9e9e9e;
  cursor: pointer;
  font-size: 20px;
}
.ui-dialog-buttonset > button:hover {
  background-color: #c4c4c4;
}
.ui-dialog-buttonset button:first-child {
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}
#lnbits_modal:has(div),
.ui-dialog-buttonset {
  background-color: #fff;
}
