.btcpw_btcpay_status {
  margin-top: 25px;
  font-weight: bold;
  display: none;
}

input[type='text']:not(.btcpw_add_form_preview),
select:not(.btcpw_add_form_preview),
textarea:not(.btcpw_add_form_preview) {
  width: 50%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.row {
  display: flex;
  flex-direction: row;
}
.col-20 {
  flex: 1;
  margin-top: 8px;
}
.col-80 {
  flex: 4;
  margin-top: 8px;
}

.col-50 {
  margin-top: 8px;
  flex: 0.4;
}

.section > h1 {
  font-size: 35px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.section.scroll {
  height: 500px;
  overflow: auto;
}

.section.table {
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  border-collapse: separate;
  border-spacing: 0;
  margin: 30px 0;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.192);
}

.section.table thead tr th {
  background-color: #1d5aa3;
  color: #ffffff;
  text-align: left;
  font-size: 1.4em;
}
.section.table thead tr th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.section.table th,
.section.table td {
  padding: 15px 15px;
}

.section.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.section.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

td.Expired,
td.Invalid {
  background-color: #f53c18;
}
td.Processing,
td.New {
  background-color: #f6b330;
}
td.Settled {
  background-color: #269950;
}
.btcpw_pay__gutenberg_block_separator {
  width: 100%;
  height: 25px;
  background: #c2cbd2;
}
.btcpw_pay__gutenberg_block_file {
  border: solid;
  text-align: center;
  color: #c2cbd2;
}

.btcpw_pay__gutenberg_block_file button {
  background-color: #007cba;
  color: #fff;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin-bottom: 5px;
  line-height: 1.8;
  font-size: 0.88889em;
  font-weight: bold;
}

.container_predefined_amount input:not([type='checkbox']),
.container_predefined_amount select {
  width: 100px;
}

.tipping_box_settings textarea,
.tipping_banner_high_settings textarea,
.tipping_banner_wide_settings textarea,
.tipping_page_settings textarea {
  width: 250px;
  height: 100px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.tipping_box_settings label,
.tipping_box_settings textarea,
.tipping_banner_high_settings label,
.tipping_banner_high_settings textarea,
.tipping_banner_wide_settings label,
.tipping_banner_wide_settings textarea,
.tipping_page_settings label,
.tipping_page_settings textarea {
  display: inline-block;
  vertical-align: middle;
}

.col-2 {
  display: flex;
  flex-direction: column;
}
.col-fixed {
  display: flex;
  flex-direction: column;
}

.tipping_box_settings textarea,
.tipping_banner_high_settings textarea,
.tipping_banner_wide_settings textarea,
.tipping_page_settings textarea {
  width: auto;
  height: 100px;
}
.tipping_box textarea,
.tipping_banner textarea {
  width: auto;
  height: 80px;
}
.tipping_box label,
.tipping_banner textarea {
  display: inline-block;
  vertical-align: middle;
}
.tipping_box input.widget-tipping-basic_redirect,
.tipping_banner input.widget-tipping-basic_redirect {
  width: 100%;
}

/* .btcpw_form_notice {
  border: solid 3px #007cba;
  padding: 10px;
  margin: 0 -5px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: rgba(68, 64, 64, 0.678);
} */
.btcpw_add_form_notice,
.btcpw_form_notice {
  border: solid 1px #007cba;
  padding: 10px;
  margin: 0 -5px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #ffffe0;
}
.btcpw_add_form_notice p,
.btcpw_form_notice p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 1.75;
  letter-spacing: 0.05em;
}
.btcpw_expanded_notice p {
  font-size: 10px;
}
.btcpw_general_settings,
.tipping_box_settings,
.tipping_banner_high_settings,
.tipping_banner_wide_settings,
.tipping_page_settings {
  border: 1px solid #1e1e1e;
  background: #fff;
  padding: 0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 0 5px;
}
.button.button-primary.btcpw_button {
  background: #0066a2;
  color: #fff;
  border-style: outset;
  border-color: #0066a2;
  height: 50px;
  width: 100px;
  font: bold 15px arial, sans-serif;
  text-shadow: none;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-left: -5px;
}

.button.button-secondary.btcpw_button {
  height: 50px;
  background-color: #008000;
  color: #fff;
  font: bold 15px arial, sans-serif;
}
div.btcpw_help_link a {
  width: 40px;
  background-color: #008000;
  color: white;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
div.btcpw_help_link a:hover {
  background-color: #555;
}

.btcpw_general_settings_buttons {
  margin-top: 5em;
}
#btcpw_btcpay_store_id {
  width: 60%;
}
#btcpw_expanded_notice_split {
  display: flex;
  gap: 30px;
}

/*Media button*/
#btcpw_shortcode_button {
  background-color: black;
  color: white;
  padding: 12px;
  font-size: 12px;
}

#sc_menu {
  display: none;
  position: absolute;
  background-color: greenyellow;
  z-index: 1;
}

#btcpw_shortcode_button {
  min-width: 230px;
}
#sc_menu div {
  color: darkblue;
  padding: 14px 18px;
  display: block;
}
#sc_menu div:hover {
  background-color: lightcyan;
}
#btcpw_shortcode_button:hover #sc_menu {
  display: block;
}
#btcpw_shortcode_button:hover #btcpw_shortcode_button {
  background-color: blue;
}
