/*
Preview style
*/
.preview_btcpw_tipping_box_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}
.preview_btcpw_tipping_box_container div,
.preview_btcpw_tipping_box_container img,
.preview_btcpw_tipping_box_container pre,
.preview_btcpw_tipping_box_container figure {
  max-width: 100%;
  overflow: hidden;
}

.preview_btcpw_tipping_box_container.btcpw_tipping_free_input,
.preview_btcpw_tipping_box_container.preview_btcpw_tipping_converted_values {
  display: flex;
  justify-content: center;
}
.preview_btcpw_tipping_box_container fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.preview_btcpw_tipping_box_header_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
}
.preview_btcpw_tipping_box_header_container h6 {
  margin-left: 5px;
}

#preview_btcpw_tipping_amount,
#preview_btcpw_converted_amount {
  height: 80%;
  width: 50%;
  font-size: 15px;
}
#preview_btcpw_tipping_currency,
#preview_btcpw_converted_currency {
  height: 80%;
  width: 50%;
  font-size: 15px;
  color: white !important;
}
#preview_tipping_form_box fieldset > h6 {
  text-align: center;
  margin: 10px 0;
}
.preview_btcpw_tipping_box_container h6 {
  font-weight: bold;
  font-size: 16px;
}
.preview_btcpw_tipping_box_container fieldset > h6 {
  margin-left: 1px;
}
.preview_btcpw_tipping_box_info_container > p {
  margin: 0.5em 0;
  font-size: 14px;
}

.preview_btcpw_tipping_box_amount {
  margin-top: 1em;
}
.preview_btcpw_tipping_box_container select {
  line-height: 1;
}
#preview_btcpw_converted_amount {
  text-align: right;
}
#preview_btcpw_converted_currency {
  text-align: left;
}
.preview_predefined_container input[type='radio'] {
  position: absolute;
  width: 10%;
  height: 5%;
  opacity: 0;
}
.preview_btcpw_tipping_box_amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.preview_btcpw_tipping_free_input,
.preview_btcpw_tipping_converted_values {
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview_btcpw_tipping_free_input {
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  height: 50px;
  width: 65%;
}

#preview_btcpw_tipping_amount {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  background-color: white !important;
}
.preview_btcpw_tipping_converted_values {
  margin-bottom: 2em;
}
.preview_btcpw_tipping_box_container fieldset input:not([type='submit']) {
  margin-bottom: 0;
}

#preview_btcpw_box_logo_wrap {
  width: 70px !important;
  height: 70px !important;
}
#preview_btcpw_box_logo_wrap img {
  height: 100% !important;
  width: 100% !important;
}
.preview_btcpw_tipping_box_container {
  position: relative;
}
.preview_btcpw_tipping_box_header_container {
  height: 80px !important;
}

#preview_button {
  position: absolute;
  display: inline-flex;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 50px;
}
#preview_btcpw_tipping_amount {
  background-color: white;
  padding: 0;
}
#preview_btcpw_tipping_currency,
#preview_btcpw_converted_amount,
#preview_btcpw_converted_currency {
  border: none;
  background: transparent;
}

#preview_btcpw_tipping_currency {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 0;
}

#btcpw_tipping_currency::-ms-expand {
  display: none;
}
#preview_btcpw_tipping_currency + i.fas {
  float: right;
  pointer-events: none;
  background-color: transparent;
  color: white !important;
  padding-right: 10px;
}
#preview_btcpw_tipping_currency option {
  padding-right: 21px;
}
#preview_button > button[type='submit'] {
  width: 50%;
  margin: 5px auto;
}
#preview_btcpw_tipping__button {
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}
#preview_button button,
#preview_button input[type='button'] {
  font-size: 14px;
  padding: 12px !important;
  text-transform: uppercase;
}
/*
      Tipping skyscraper
      */

.preview_btcpw_skyscraper_tipping_container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.preview_btcpw_skyscraper_header_container.wide {
  flex-direction: row;
  height: 80px;
}
div.preview_btcpw_skyscraper_header_container.wide > div:nth-child(2) > h6 {
  padding-left: 2em;
}
#preview_btcpw_skyscraper_logo_wrap_high {
  padding: 0.1em 0.1em 0 0.1em;
}
.preview_btcpw_widget.btcpw_skyscraper_tipping_container.wide {
  width: 600px !important;
  height: 200px !important;
}
.preview_btcpw_skyscraper_tipping_container fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
  min-width: 0;
  padding: 0;
}

.preview_btcpw_skyscraper_tipping_container.high h6 {
  margin: 0.4em;
}

.preview_btcpw_skyscraper_amount {
  display: flex;
}

#preview_btcpw_skyscraper_high_converted_amount,
#preview_btcpw_skyscraper_wide_converted_amount {
  text-align: right;
  font-size: 15px;
}
#preview_btcpw_skyscraper_high_converted_currency,
#preview_btcpw_skyscraper_wide_converted_currency {
  text-align: left;
  font-size: 15px;
}

#preview_btcpw_skyscraper_tipping_high_amount,
#preview_btcpw_skyscraper_tipping_wide_amount {
  height: 30px;
  width: 50%;
  margin: 0;
}
#preview_btcpw_skyscraper_tipping_high_currency,
#preview_btcpw_skyscraper_tipping_wide_currency {
  height: 30px;
  width: 50%;
  font-size: 15px;
}
#preview_btcpw_skyscraper_tipping_high_currency,
#preview_btcpw_skyscraper_tipping_wide_currency {
  color: white;
  font-weight: bold;
}
#preview_btcpw_skyscraper_tipping_high_amount,
#preview_btcpw_skyscraper_tipping_high_currency,
#preview_btcpw_skyscraper_tipping_wide_amount,
#preview_btcpw_skyscraper_tipping_wide_currency {
  height: 80%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 !important;
}

#preview_btcpw_skyscraper_high_button,
#preview_btcpw_skyscraper_wide_button {
  position: absolute;
  display: inline-flex;
  bottom: 0;
  width: 100%;
  left: 0;
  justify-content: center;
}
#preview_btcpw_skyscraper_logo_wrap_high {
  width: 180px !important;
  height: 180px !important;
}
#preview_btcpw_skyscraper_logo_wrap_wide {
  width: 70px !important;
  height: 70px !important;
}
#preview_btcpw_skyscraper_logo_wrap_high img,
#preview_btcpw_skyscraper_logo_wrap_wide img {
  width: 100%;
  height: 100%;
}

#preview_btcpw_skyscraper_high_button button,
#preview_btcpw_skyscraper_high_button input[type='button'],
#preview_btcpw_skyscraper_wide_button button,
#preview_btcpw_skyscraper_wide_button input[type='button'] {
  padding: 0;
  line-height: 20px;
  height: 40px;
}

#preview_btcpw_skyscraper_high_button > div,
#preview_btcpw_skyscraper_wide_button > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 5px 0 !important;
}

#preview_btcpw_skyscraper_high_button > button[type='submit'],
#preview_btcpw_skyscraper_high_button > input.skyscraper-next-form,
#preview_btcpw_skyscraper_wide_button > button[type='submit'],
#preview_btcpw_skyscraper_wide_button > input.skyscraper-next-form {
  width: 50%;
  margin: 0 auto;
  color: white;
  padding: 0;
}

#preview_btcpw_skyscraper_high_button > div:nth-child(1) > input,
#preview_btcpw_skyscraper_wide_button > div:nth-child(1) > input {
  color: white;
}

#preview_btcpw_skyscraper_high_button button,
#preview_btcpw_skyscraper_high_button input[type='button'] {
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  font-size: 1em;
  padding: 0.1em !important;
  text-transform: uppercase;
}
#preview_btcpw_skyscraper_wide_button button,
#preview_btcpw_skyscraper_wide_button input[type='button'] {
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  font-size: 1.5em;
  padding: 10.5px 14px !important;
  text-transform: uppercase;
}
#preview_btcpw_skyscraper_high_converted_amount,
#preview_btcpw_skyscraper_tipping_high_currency,
#preview_btcpw_skyscraper_high_converted_currency,
#preview_btcpw_skyscraper_wide_converted_amount,
#preview_btcpw_skyscraper_tipping_wide_currency,
#preview_btcpw_skyscraper_wide_converted_currency {
  border: none;
  background: transparent;
}
.preview_btcpw_skyscraper_header_container.high h6 {
  margin-top: 20px;
}
.preview_btcpw_skyscraper_tipping_amount,
.preview_btcpw_skyscraper_tipping_converted_values,
.preview_btcpw_skyscraper_info_container p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.preview_btcpw_skyscraper_tipping_container
  #preview_skyscraper_tipping_high_form
  > fieldset
  h6,
.preview_btcpw_skyscraper_tipping_container
  #preview_skyscraper_tipping_wide_form
  > fieldset
  h6 {
  text-align: center;
  margin: 1em;
}
#preview_skyscraper_tipping_high_form fieldset:not(:first-of-type),
#preview_skyscraper_tipping_wide_form fieldset:not(:first-of-type) {
  display: none;
}

.preview_btcpw_skyscraper_donor_information {
  display: flex;
  flex-wrap: wrap;
}

.preview_btcpw_skyscraper_donor_information.wide {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.preview_btcpw_skyscraper_donor_information.high {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}
.preview_btcpw_skyscraper_donor_information input[type='text'],
.preview_btcpw_skyscraper_donor_information input[type='email'],
.preview_btcpw_skyscraper_donor_information input[type='url'],
.preview_btcpw_skyscraper_donor_information input[type='password'],
.preview_btcpw_skyscraper_donor_information input[type='search'],
.preview_btcpw_skyscraper_donor_information input[type='number'],
.preview_btcpw_skyscraper_donor_information input[type='tel'],
.preview_btcpw_skyscraper_donor_information input[type='range'],
.preview_btcpw_skyscraper_donor_information input[type='date'],
.preview_btcpw_skyscraper_donor_information input[type='month'],
.preview_btcpw_skyscraper_donor_information input[type='week'],
.preview_btcpw_skyscraper_donor_information input[type='time'],
.preview_btcpw_skyscraper_donor_information input[type='datetime'],
.preview_btcpw_skyscraper_donor_information input[type='datetime-local'],
.preview_btcpw_skyscraper_donor_information input[type='color'],
.preview_btcpw_skyscraper_donor_information textarea {
  padding: 0 !important;
  margin: 0 !important;
}

.preview_btcpw_skyscraper_amount
  > .preview_btcpw_skyscraper_tipping_free_input {
  display: flex;
  flex-direction: row;
  align-items: center !important;
}
.preview_btcpw_skyscraper_header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}
.preview_btcpw_skyscraper_header_container.high {
  padding: 0.5em;
  height: 260px !important;
}
.preview_btcpw_skyscraper_info_container {
  text-align: center;
}
.preview_btcpw_skyscraper_banner div,
.preview_btcpw_skyscraper_banner img,
.preview_btcpw_skyscraper_banner pre,
.preview_btcpw_skyscraper_banner figure,
.preview_btcpw_skyscraper_tipping_container div,
.preview_btcpw_skyscraper_tipping_container img,
.preview_btcpw_skyscraper_tipping_container pre,
.preview_btcpw_skyscraper_tipping_container figure {
  max-width: 100%;
  overflow: hidden;
}

.preview_btcpw_skyscraper_tipping_converted_values {
  flex-direction: row;
}
.preview_btcpw_skyscraper_info_container > p {
  font-size: 0.8em;
}

.preview_btcpw_skyscraper_banner {
  line-height: 1em;
}
.preview_btcpw_skyscraper_banner.high {
  width: 200px !important;
}

.preview_btcpw_skyscraper_amount > div {
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 120px;
  height: 40px;
  justify-content: space-evenly;
  font-weight: bold;
  color: white;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}

.preview_btcpw_skyscraper_amount {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-flow: row wrap;
  justify-content: space-between;
}

.preview_btcpw_skyscraper_amount_value_1.high i,
.preview_btcpw_skyscraper_amount_value_2.high i,
.preview_btcpw_skyscraper_amount_value_3.high i {
  margin-right: 10px;
}

.preview_btcpw_skyscraper_tipping_container.high fieldset {
  padding: 0;
}
.preview_btcpw_skyscraper_tipping_container fieldset {
  margin: 0;
}

#preview_btcpw_skyscraper_tipping_high_amount,
#preview_btcpw_skyscraper_tipping_wide_amount {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  background-color: white !important;
}
#preview_btcpw_skyscraper_tipping_high_currency,
#preview_btcpw_skyscraper_tipping_wide_currency {
  color: white !important;
}

#preview_btcpw_skyscraper_tipping_high_currency,
#preview_btcpw_skyscraper_tipping_wide_currency {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
#preview_btcpw_skyscraper_tipping_high_currency::-ms-expand,
#preview_btcpw_skyscraper_tipping_wide_currency::-ms-expand {
  display: none;
}
#preview_btcpw_skyscraper_tipping_high_currency + i.fas,
#preview_btcpw_skyscraper_tipping_wide_currency + i.fas {
  float: right;
  pointer-events: none;
  background-color: transparent;
  color: white !important;
  padding-right: 10px;
}
#preview_btcpw_skyscraper_tipping_high_currency option,
#preview_btcpw_skyscraper_tipping_wide_currency option {
  padding-right: 21px;
}

.preview_btcpw_skyscraper_tipping_container.wide fieldset {
  padding: 0 1em;
}
.preview_btcpw_skyscraper_amount_value_1.selected,
.preview_btcpw_skyscraper_amount_value_2.selected,
.preview_btcpw_skyscraper_amount_value_3.selected,
.preview_btcpw_widget.btcpw_skyscraper_amount_value_1.wide.selected,
.preview_btcpw_widget.btcpw_skyscraper_amount_value_2.wide.selected,
.preview_btcpw_widget.btcpw_skyscraper_amount_value_3.wide.selected,
.preview_btcpw_widget.btcpw_skyscraper_amount_value_1.high.selected,
.preview_btcpw_widget.btcpw_skyscraper_amount_value_2.high.selected,
.preview_btcpw_widget.btcpw_skyscraper_amount_value_3.high.selected {
  background-color: hsl(354, 78%, 7%) !important;
}
.preview_btcpw_skyscraper_amount_value_1 input[type='radio'],
.preview_btcpw_skyscraper_amount_value_2 input[type='radio'],
.preview_btcpw_skyscraper_amount_value_3 input[type='radio'] {
  display: none;
}
.preview_btcpw_skyscraper_amount.high {
  flex-direction: column;
}

.preview_btcpw_skyscraper_amount.wide {
  flex-direction: row;
  justify-content: space-around;
}

.preview_btcpw_skyscraper_amount.high > div {
  margin: 5px auto;
  width: 80%;
}

.preview_btcpw_skyscraper_tipping_converted_values.high {
  display: flex;
  margin-bottom: 2em;
}

.preview_btcpw_skyscraper_tipping_free_input {
  display: flex;
  flex-direction: row;
}

.preview_btcpw_skyscraper_tipping_free_input.high {
  justify-content: center;
}

.preview_btcpw_skyscraper_tipping_container.wide {
  width: 600px !important;
  height: 200px !important;
}
.preview_btcpw_skyscraper_tipping_container.high {
  width: 200px !important;
  height: 450px !important;
}
/**
      Tipping page
      
      */
#btcpw_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview_btcpw_page_tipping_container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 1em;
  position: relative;
}

.preview_btcpw_page_tipping_container fieldset {
  border: 0;
  min-width: 0;
}

.preview_btcpw_page_amount {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-flow: row wrap;
  justify-content: space-around;
}

#preview_btcpw_page_converted_amount {
  text-align: right;
  font-size: 15px;
}
#preview_btcpw_page_tipping_currency {
  width: 45%;
  font-size: 15px;
}
#preview_btcpw_page_converted_currency {
  text-align: left;
  font-size: 15px;
}
#preview_btcpw_page_tipping_amount {
  width: 55%;
  background-color: white;
}
#preview_btcpw_page_tipping_amount,
#preview_btcpw_page_tipping_currency {
  height: 80%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 1px;
}

#preview_btcpw_page_button {
  position: absolute;
  display: inline-flex;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 75px;
}

#preview_btcpw_page_button > input.page-next-form {
  width: 50%;
}

#preview_btcpw_page_button > div {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 10px 0 !important;
}

#preview_btcpw_page_button > div:nth-child(1) > input {
  color: white;
}

#preview_btcpw_page_button > button[type='submit'],
#preview_btcpw_page_button > input.page-next-form {
  width: 50%;
  margin: 10px auto !important;
  color: white;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}
#preview_btcpw_page_tipping__button {
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}
#preview_btcpw_page_button button,
#preview_btcpw_page_button input[type='button'],
#preview_btcpw_page_button input[type='submit'] {
  padding: 10.5px 14px;
  font-size: 1.5em;
  text-transform: uppercase;
}

#preview_btcpw_page_tipping_currency {
  color: white;
  font-weight: bold;
  width: 45%;
  font-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

#preview_btcpw_page_tipping_currency::-ms-expand {
  display: none;
}
#preview_btcpw_page_tipping_currency + i.fas {
  float: right;
  pointer-events: none;
  background-color: transparent;
  color: white !important;
  padding-right: 10px;
}
#preview_btcpw_page_tipping_currency option {
  padding-right: 21px;
}
#preview_btcpw_page_converted_amount,
#preview_btcpw_page_tipping_currency,
#preview_btcpw_page_converted_currency {
  border: none;
  background: transparent;
}
.preview_btcpw_page_header_container h6 {
  font-size: 1.2em;
  padding-top: 0.5em;
}

.preview_btcpw_page_tipping_amount,
.preview_btcpw_page_tipping_converted_values,
.preview_btcpw_page_header_container h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#preview_page_tipping_form fieldset:not(:first-of-type) {
  display: none;
}
#preview_btcpw_page_logo_wrap {
  width: 180px;
  height: 180px;
}
#preview_btcpw_page_logo_wrap img {
  width: 100% !important;
  height: 100% !important;
}
.preview_btcpw_page_donor_information {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  justify-content: center;
  align-items: center;
}
.preview_btcpw_page_donor_information > div {
  display: flex;
  margin: 0 5px;
  width: 100%;
}

.preview_btcpw_page_donor_information input[type='text'],
.preview_btcpw_page_donor_information input[type='email'],
.preview_btcpw_page_donor_information input[type='url'],
.preview_btcpw_page_donor_information input[type='password'],
.preview_btcpw_page_donor_information input[type='search'],
.preview_btcpw_page_donor_information input[type='number'],
.preview_btcpw_page_donor_information input[type='tel'],
.preview_btcpw_page_donor_information input[type='range'],
.preview_btcpw_page_donor_information input[type='date'],
.preview_btcpw_page_donor_information input[type='month'],
.preview_btcpw_page_donor_information input[type='week'],
.preview_btcpw_page_donor_information input[type='time'],
.preview_btcpw_page_donor_information input[type='datetime'],
.preview_btcpw_page_donor_information input[type='datetime-local'],
.preview_btcpw_page_donor_information input[type='color'],
.preview_btcpw_page_donor_information textarea {
  font-size: 14px;
  padding: 8px;
  flex: 1;
  margin: 1px;
}

.preview_btcpw_page_header_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  height: 210px !important;
}

.preview_btcpw_page_header_container h6 {
  margin: 0 5px;
}

#preview_page_tipping_form > fieldset > h6 {
  text-align: center;
  margin: 1em 0 1em 5px;
}
.preview_btcpw_page_tipping_converted_values {
  flex-direction: row;
}

.preview_btcpw_page_amount > div {
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 150px;
  height: 70px;
  justify-content: center;
  font-weight: bold;
  color: white;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}

.preview_btcpw_page_amount_value_1 input[type='radio'],
.preview_btcpw_page_amount_value_2 input[type='radio'],
.preview_btcpw_page_amount_value_3 input[type='radio'] {
  display: none;
}

.preview_btcpw_page_amount_value_1 i,
.preview_btcpw_page_amount_value_2 i,
.preview_btcpw_page_amount_value_3 i {
  margin-right: 1em;
}

.preview_btcpw_page_tipping_converted_values {
  display: flex;
  margin-bottom: 2em;
}

.preview_btcpw_page_tipping_free_input {
  display: flex;
  flex-direction: row;
  align-items: center !important;
}
#preview_btcpw_page_tipping_amount {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.preview_btcpw_page_bar_container {
  display: flex;
}
.preview_btcpw_page_bar_container div {
  display: flex;
  background-color: lightgray;
  width: 50%;
  height: 2em;
  justify-content: center;
  align-items: center;
  color: #a4b0c6;
}

.preview_btcpw_page_bar_container.active {
  background-color: grey;
}

.preview_btcpw_page_amount_value_1.selected,
.preview_btcpw_page_amount_value_2.selected,
.preview_btcpw_page_amount_value_3.selected {
  background-color: hsl(354, 78%, 7%);
}

#powered_by,
#powered_by_skyscraper,
#powered_by_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#powered_by p,
#powered_by_skyscraper p,
#powered_by_box p {
  margin-top: 0.5em;
  font-size: 14px;
}
#btcpw_page_logo_wrap {
  padding: 0.1em 0 0.1em 0.1em;
}
div.preview_btcpw_page_header_container > div:nth-child(2) {
  margin-left: 2em;
}

/*End Preview*/

.btcpw_add_form_preview {
  display: flex;
  margin-top: 20px;
}

.btcpw_add_form_preview form {
  display: flex;
  flex-direction: column;
}

#btcpw_form_preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.btcpw_add_form_preview input[type='text'],
.btcpw_add_form_preview select,
.btcpw_add_form_preview textarea {
  width: 100%;
}

.btcpw_add_form_preview label {
  padding: 10px 10px 10px 0;
  display: inline-block;
}
#design-button {
  width: 80px;
  height: 50px;
}
.btcpw_expand_notice {
  cursor: pointer;
}
